.toggle-blocks div.context-block,
.toggle-blocks div.block {
  float:right;
  }

/**
 * Togglable blocks ===================================================
 */
.dropdown-blocks div.block {
  padding-left:0px;
  padding-right:5px;
  }

.dropdown-blocks div.block h2.block-title span.icon {
  float:right;
  margin-right:0px;
  margin-left:5px;
  }

.dropdown-blocks div.block-toggle div.block-content {
  left:0px;
  right:auto;
  -moz-border-radius:0px 5px 5px 5px;
  -webkit-border-radius:5px;
  -webkit-border-top-left-radius:0px;
  }

.dropdown-blocks div.block-toggle li a,
.dropdown-blocks div.block-toggle div.more-link a { padding:2px 10px 2px 40px; }

.dropdown-blocks div.block-toggle li a span {
  float:right;
  margin-right:0px;
  margin-left:10px;
  }

/* Panes */
.dropdown-blocks div.block-toggle div.panes { background-position:359px 0px; }

.dropdown-blocks div.block-toggle div.pane-left,
.dropdown-blocks div.block-toggle div.pane-right { float:right; }

.dropdown-blocks div.block-toggle div.pane-right li { float:right; }

/**
 * Page tools ========================================================
 */
#page-tools h2.page-title,
#page-tools div.tabs {
  left:auto;
  right:20px;
  }

#page-tools div.context-links,
#page-tools div.dropdown-blocks { float:left; }

#page-tools div.dropdown-blocks div.block-toggle h2.block-title {
  border-right:1px solid #ccc;
  border-left:0px;
  }

#page-tools div.context-links {
  border-right:1px solid #ccc;
  border-left:0px;
  padding:7px 5px 7px 0px;
  }

  div.buttons a,
  #page-tools div.context-links a {
    margin-left:0px;
    margin-right:5px;
    }

#page-tools #help-toggler {
  float:left;
  margin: 10px 10px 0px 0px;
  }

/**
 * Page layout ========================================================
 */
#page div.limiter { background-position:35% 0px; }

#content { float:right; }
#content div.page-region {
  padding-left:10px;
  padding-right:20px;
  }

#right { float:left; }
#right div.page-region {
  padding-right:10px;
  padding-left:20px;
  }

/**
 * Menus ==============================================================
 */
div.drilldown span.trail a {
  background-image:url(images/sprite_base-rtl.png);
  background-position:100% -160px;
  }

div.drilldown span.trail a.depth-1,
div.drilldown span.trail a.depth-2,
div.drilldown span.trail a.depth-3,
div.drilldown span.trail a.depth-4,
div.drilldown span.trail a.depth-5,
div.drilldown span.trail a.depth-6,
div.drilldown span.trail a.depth-7 { padding-left:0px; }

div.drilldown span.trail a.depth-1 {
  padding-right:25px;
  }

div.drilldown span.trail a.depth-2 {
  padding-right:50px;
  background-position:30px -160px;
  }

div.drilldown span.trail a.depth-3 {
  padding-right:75px;
  background-position:55px -160px;
  }

div.drilldown span.trail a.depth-4 {
  padding-right:100px;
  background-position:80px -160px;
  }

div.drilldown span.trail a.depth-5 {
  padding-right:125px;
  background-position:105px -160px;
  }

div.drilldown span.trail a.depth-6 {
  padding-right:150px;
  background-position:130px -160px;
  }

div.drilldown span.trail a.depth-7 {
  padding-right:175px;
  background-position:155px -160px;
  }

div.block-atrium ul.menu a,
div.drilldown ul.menu a {
  padding:4px 0px 5px 10px;
  margin-left:0px;
  margin-right:25px;
  }

div.block-atrium ul.menu ul {
  border-left:0px;
  border-right:24px solid #f8f8f8;
  padding-left:0px;
  padding-right:1px;
  }

/* RESET, now do it again */
div.drilldown ul.menu ul,
div.drilldown ul.menu li {
  padding:0px;
  border:0px;
  }

  div.drilldown ul.menu ul ul {
    border-left:0px;
    border-right:24px solid #f8f8f8;
    padding-left:0px;
    padding-right:1px;
    }

div.block-atrium ul.menu li.collapsed,
div.block-atrium ul.menu li.expanded {
  background-image:url(images/sprite_base-rtl.png);
  background-position:100% -60px;
  }

div.block-atrium ul.menu li.leaf {
  background-image:url(images/sprite_base-rtl.png);
  background-position:100% -110px;
  }

/**
 * Palette blocks =====================================================
 */
div.messages span.close,
#palette div.block h2.block-title span.close {
  left:5px;
  right:auto;
  }

/* Help block */
#help-text { padding:5px 50px 5px 0px; }

#help-text span.icon {
  left:auto;
  right:5px;
  }

/**
 * Nodes, comments ====================================================
 */
div.node-submitted,
div.comment-submitted { float:left; }

div.node-submitted div.picture,
div.comment-submitted div.picture {
  float:right;
  margin-right:0px;
  margin-left:5px;
  }

div.more-link a,
div.node-links ul.links,
div.comment-links ul.links { float:left; }

/**
 * Module: SHOUTBOX ===================================================
 */
div.shoutbox-input { padding:0px 0px 10px 100px; }

div.shoutbox-input input.form-submit {
  right:auto;
  left:0px;
  }

div.view-atrium-profile div.user-picture,
div.view-atrium-profile div.username {
  margin-right:0px;
  margin-left:0px;
  float:right;
  }

table.views-view-grid div.picture {
  float:right;
  margin-left:10px;
  margin-right:0px;
  }

/**
 * Views ==============================================================
 */

/* Grouped fields */
div.view div.grouped-meta {
  float:left;
  margin-left:0px;
  margin-right:10px;
  }

div.view div.grouped-meta div.user-picture {
  float:right;
  margin-left:5px;
  margin-right:0px;
  }

/* Views block filter */
div.block div.views-exposed-form div.views-exposed-widget { padding:5px 100px 4px 0px; }

div.block div.views-exposed-form div.views-exposed-widget label {
  right:0px;
  left:auto;
  }

/**
 * Pager ==============================================================
 */
#palette div.block div.minipager,
div.page-region div.block div.boxes-box-controls,
div.page-region div.block div.minipager {
  right:auto;
  left:5px;
  }

/**
 * Atrium welcome blocks ==============================================
 */
.atrium-welcome-links .column { float:right; }

.atrium-welcome-links a span.spaces-feature {
  float:right;
  margin-right:0px;
  margin-left:10px;
  }
