#page-header div.limiter { width:640px; }

body #page div.limiter {
  width:660px;
  background:transparent;
  }

body #page { background:#f8f8f8 url(images/page.png) repeat-x; }

body #content {
  float:none;
  width:auto;
  }

body #content div.page-region { padding:20px 10px; }