/**
 * Wide ===============================================================
 */
body.layout-wide #content {
  float:none;
  width:auto;
  }

body.layout-wide #page .limiter {
  padding:0px 10px;
  background:transparent;
  }

body.layout-wide #content .page-region { padding:20px 10px; }

/**
 * Login ==============================================================
 */
body.layout-login #page-header .limiter { width:640px; }

body.layout-login #page .limiter {
  width:660px;
  background:transparent;
  }

body.layout-login #content {
  float:none;
  width:auto;
  }

body.layout-login #content .page-region { padding:20px 10px; }

/**
 * Split ==============================================================
 */
body.layout-split #content,
body.layout-split #right {
  float:left;
  width:49.99%;
  }

body.layout-split #page .limiter {
  padding:0px 10px;
  background-position:50% 0%;
  }

body.layout-split #content .page-region,
body.layout-split #right .page-region { padding:20px 10px; }

/**
 * Columns ============================================================
 */
body.layout-columns #left,
body.layout-columns #content,
body.layout-columns #right {
  float:left;
  width:33.33%;
  }

body.layout-columns #page .limiter {
  padding:0px 10px;
  background:transparent;
  }

body.layout-columns #left .page-region,
body.layout-columns #content .page-region,
body.layout-columns #right .page-region { padding:20px 10px; }