body #left,
body #content,
body #right {
  float:left;
  width:33.33%;
  }

body #page div.limiter {
  padding:0px 10px;
  background:transparent;
  }

body #left div.page-region,
body #content div.page-region,
body #right div.page-region { padding:20px 10px; }