/**
 * Node submitted
 */
.node-submitted {
  margin:0pt;
  line-height:10pt;
  float:right;
  white-space:nowrap;
  }

/**
 * Hide UI related widgets on print.
 */
div.node .diff-inline-controls,
div.node .xref { display:none; }

/**
 * Case state display
 */
.atrium-case-summary { margin:0pt 0pt 10pt; }

.atrium-case-summary .primary {
  float:left;
  width:50%;
  }

.atrium-case-summary label { margin-right:1em; }
