/**
 * Override of style.css of Rubik. Contains styles for major page wrapping
 * elements. For core/canvas elements, see ginkgo.css.
 */

body.tao,
input,
textarea,
select { font-family:Arial,Helvetica,sans-serif; }

body.tao {
  background:#eee url(images/page.png) 0% 0%repeat-x fixed;
  color:#222;
  }

a {
  color:#48a;
  text-decoration:none;
  }

div.limiter {
  max-width:1280px;
  padding:0px 20px;
  }

/**
 * Skinnable elements =================================================
 */
#global,
#global a.logo,
#global div.breadcrumb span.link-0 a,
#global div.breadcrumb span.divider,
#navigation,
#features-menu li,
#features-menu li a { background-image:url(images/sprite_skin.png); }

/**
 * Default designkit colors ===========================================
 */
.dropdown-blocks div.block-toggle ul.links li a:hover,
.dropdown-blocks div.block-toggle div.item-list li a:hover,
div.pager li.pager-current,
div.more-link a:hover,
div.node-links ul li a:hover,
div.comment-links ul li a:hover,
#global,
#navigation { background-color:#44aa55; }

body #space-tools h2.block-title { background-color:#2f773b; }

body #header div.block-widget,
body #header div.block h2.block-title { background-color:#399048; }

body div.page-region div.block h2.block-title {
  background-color:#cce0cf;
  border-color:#bed2c1;
  border-bottom-color:#b0c5b4;
  }

div.decay-10 h2.comment-title { border-color:#eeeeee; }
div.decay-9 h2.comment-title { border-color:#dde7de; }
div.decay-8 h2.comment-title { border-color:#cce0cf; }
div.decay-7 h2.comment-title { border-color:#bbd9c0; }
div.decay-6 h2.comment-title { border-color:#aad2b0; }
div.decay-5 h2.comment-title { border-color:#99cca1; }
div.decay-4 h2.comment-title { border-color:#88c592; }
div.decay-3 h2.comment-title { border-color:#77be82; }
div.decay-2 h2.comment-title { border-color:#66b773; }
div.decay-1 h2.comment-title { border-color:#55b064; }
div.decay-0 h2.comment-title { border-color:#44aa55; }

/**
 * Global navbar  =====================================================
 */
#global {
  background-position:0px 0px;
  background-repeat:repeat-x;
  position:relative;
  height:40px;
  }

#global a.logo {
  text-indent:-999px;
  overflow:hidden;

  position:absolute;
  right:20px;
  height:40px;
  width:300px;
  background-repeat:no-repeat;
  background-position:100% -440px;
  }

/**
 * Header blocks ======================================================
 */
#header {
  padding:5px 0px;
  float:left;
  }

#header div.block { padding:0px 5px 0px 0px; }

#header div.block-widget,
#header h2.block-title {
  background:transparent;
  color:#fff;
  font-size:11px;
  line-height:30px;
  margin:0px;
  padding:0px 10px;
  }

  #header div.block-widget a,
  #header h2.block-title a { color:#fff; }

  #header div.block-widget div.block-content { padding:0px; background:transparent; }

  #header div.block-widget a { font-weight:bold; }

  #header div.block-toggle h2.block-title {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:transparent;
    }

  #header div.block-toggle h2.toggle-active {
    background-color:#fff !important;
    color:#333 !important;
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    }

  #header div.block-toggle div.block-content {
    left:0px;
    right:auto;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    }

/* Account block */
body.logged-in #block-atrium-account h2.block-title {
  position:relative;
  padding-left:35px;
  }

#block-atrium-account h2.block-title div.picture {
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-radius:3px 0px 0px 3px;
  position:absolute;
  left:0px;
  }

  #block-atrium-account h2.toggle-active div.picture {
    -moz-border-radius:3px 0px 0px 0px;
    -webkit-border-radius:3px 0px 0px 0px;
    }

/* Breadcrumb */
#global div.breadcrumb {
  float:left;
  padding:5px;
  line-height:30px;
  font-size:20px;
  font-weight:normal;
  }

  #global div.breadcrumb span,
  #global div.breadcrumb span a {
    color:#fff;
    height:30px;
    float:left;
    }

  #global div.breadcrumb span.link-0 a,
  #global div.breadcrumb span.divider {
    background-position:-20px -410px;
    background-repeat:no-repeat;
    text-indent:-999px;
    overflow:hidden;
    width:20px;
    }

  #global div.breadcrumb span.link-0 a { background-position:0px -410px; }

/**
 * Footer ==============================================================
 */
#footer {
  border-top:1px solid #ccc;
  font-weight:normal;
  font-size:11px;
  padding:19px 0px 20px;
  color:#999;
  }

  #footer a { color:#666; }

#footer div.footer-message { float:left; }

#footer ul.links { float:right; }

#footer ul.links a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
  }

  #footer ul.links a:hover { background:#fff; }

/**
 * Navigation =========================================================
 */
#navigation {
  background-position:0px -40px;
  background-repeat:repeat-x;
  padding:20px 0px 0px;
  /* IE7 z-index stacking: #navigation 2, #page-header 1, all others 0. */
  position:relative;
  z-index:2;
  }

#space-tools { float:right; }

#space-tools div.block-widget,
#space-tools div.block-widget a {
  font-size:11px;
  color:#fff;
  }

  #space-tools div.block-widget a { font-weight:bold; }

#space-tools h2.block-title { color:#fff; }

  #space-tools h2.toggle-active {
    background-color:#fff !important;
    color:#333;
    }

/**
 * Features menu ======================================================
 * Arguably the most complex portion of the theme.
 */
#features-menu {
  height:50px;
  float:left;
  }

#features-menu li {
  background-position:0px 50px;
  background-repeat:no-repeat;
  }

#features-menu li.active {
  border:1px solid #fff;
  border-bottom:0px;
  height:49px;

  background-position:0px -210px;
  background-repeat:repeat-x;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

#features-menu li a {
  color:#fff;
  position:relative;
  line-height:40px;
  width:40px;
  height:40px;
  padding:5px 10px;

  background-position:0px -110px;
  background-repeat:no-repeat;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

  #features-menu li a:hover {
    background-position:0px -160px;
    background-repeat:no-repeat;
    }

  #features-menu li.active a,
  #features-menu li.active a.active {
    padding:4px 9px 5px;
    width:auto;
    }

  #features-menu li a span.label {
    width:100px;
    text-align:center;
    position:absolute;
    top:-20px;
    left:-20px;
    line-height:20px;

    font-size:11px;
    font-weight:bold;

    display:none;
    }

    #features-menu li a:hover span.label { display:block; }

  #features-menu li.active a span.label,
  #features-menu li.active a:hover span.label {
    display:block;
    width:auto;
    padding:0px 5px 0px 10px;
    line-height:40px;
    position:static;
    float:left;

    font-weight:normal;
    font-size:16px;
    color:#333;
    text-shadow:#fff 0px 1px 0px;
    }

    #features-menu li a span.icon {
      background:url(images/sprite_icons.png) 0px 0px no-repeat;
      display:block;
      height:40px;
      width:40px;
      float:left;
      }

  #features-menu li a.icon-blog span.icon { background-position: 0px -40px; }
  #features-menu li a.icon-documents span.icon { background-position: -40px -40px; }
  #features-menu li a.icon-calendar span.icon { background-position: -80px -40px; }
  #features-menu li a.icon-casetracker span.icon { background-position: -120px -40px; }
  #features-menu li a.icon-dashboard span.icon { background-position: -160px -40px; }
  #features-menu li a.icon-og span.icon { background-position: -200px -40px; }
  #features-menu li a.icon-home span.icon { background-position: -240px -40px; }
  #features-menu li a.icon-members span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-profile span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-shoutbox span.icon { background-position: -320px -40px; }

/**
 * Feature mini-icons =================================================
 */
span.spaces-feature {
  width:20px;
  height:20px;
  display:block;

  text-indent: -999px;
  overflow:hidden;

  background:url(images/sprite_icons.png) 20px 20px no-repeat;
  }

span.feature-atrium_blog { background-position:0px 100%; }
span.feature-atrium_book { background-position:-20px 100%; }
span.feature-atrium_calendar { background-position:-40px 100%; }
span.feature-atrium_casetracker { background-position:-60px 100%; }
span.feature-atrium_dashboard { background-position:-80px 100%; }
span.feature-atrium_groups { background-position:-100px 100%; }
span.feature-atrium_home { background-position:-120px 100%; }
span.feature-atrium_members { background-position:-140px 100%; }
span.feature-atrium_shoutbox { background-position:-160px 100%; }

#block-atrium-admin_links span.icon { background:url(images/sprite_icons.png) -20px -400px no-repeat; }
#block-atrium-admin_links h2.toggle-active span.icon { background-position:-20px -420px; }
#block-atrium-create span.icon { background:url(images/sprite_icons.png) 0px -400px no-repeat; }
#block-atrium-create h2.toggle-active span.icon { background-position:0px -420px; }
#block-atrium-search span.icon { background:url(images/sprite_icons.png) -40px -400px no-repeat; }
#block-atrium-search h2.toggle-active span.icon { background-position:-40px -420px; }

/**
 * Error pages ========================================================
 */
body.page-access-denied #page-header div.limiter,
body.page-not-found #page-header div.limiter { display:none; }

body.page-access-denied div.access-denied,
body.page-not-found div.not-found {
  font-size:32px;
  font-weight:300;

  padding:140px 480px 140px 50px;
  letter-spacing:-1px;
  line-height:40px;
  min-height:80px;

  background:url(images/404.png) 100% 50% no-repeat;
  }

body.page-access-denied div.access-denied { background-image:url(images/403.png); }
