/**
 * Ginkgo theme stylesheet.
 */
.atrium-skin { background-image:url(images/sprite_skin.png); }

div.limiter {
  max-width:1280px;
  padding:0px 20px;
  }

/**
 * Default designkit colors ===========================================
 */
#global,
#branding,
#navigation { background-color:#44aa55; }

#branding form input.form-text { border-color:#72bf7f; }

#branding form input.form-text { background-color:#368844; }

#header div.block-widget,
#header div.toggle-blocks,
#header h2.block-title { border-color:#368844; }

#global,
#header h2.block-title,
#header div.block-widget a,
#global div.breadcrumb a { color:#a1d4aa; }

/**
 * Global navbar  =====================================================
 */
#global {
  background-position:0px 0px;
  background-repeat:repeat-x;
  position:relative;
  height:40px;
  font-size:11px;
  }

  #global a:hover { color:#fff; }

#global a.logo {
  text-indent:-999px;
  overflow:hidden;

  float:right;
  height:40px;
  width:300px;
  background-image:url(images/sprite_skin.png);
  background-repeat:no-repeat;
  background-position:100% -440px;
  }

#global h1.site-name {
  float:right;
  font-size:18px;
  }

#global div.breadcrumb { float:left; }
#global div.breadcrumb a { font-weight:bold; }
#global div.breadcrumb span.divider { padding:0px 10px; }

/**
 * Header blocks ======================================================
 */
#header {
  padding:5px 0px;
  float:left;
  }

#header div.block-widget,
#header h2.block-title {
  background:transparent;
  color:#fff;
  line-height:30px;
  margin:0px;
  padding:0px 10px;
  }

  #header div.block-widget div.block-content { padding:0px; background:transparent; }

  #header div.block-widget a { font-weight:bold; }
  #header div.block { padding:0px 5px 0px 0px; }

  #header div.block-toggle h2.block-title {
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    background:transparent;
    }

  #header div.block-toggle h2.toggle-active {
    background:#fff;
    color:#333;
    -moz-border-radius:3px 3px 0px 0px;
    -webkit-border-radius:3px 3px 0px 0px;
    }

  #header div.block-toggle div.block-content {
    left:0px;
    right:auto;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    }

/**
 * Help text
 */
#header div.help {
  padding:15px;
  line-height:30px;
  }

#header div.help h1,
#header div.help h2,
#header div.help h3 {
  color:#ccc;
  padding:0px;
  border:0px;
  margin:0px 0px 15px;
  }

#header div.help a:hover { background:transparent; }

#header div.help p { margin:0px 0px 15px; }

/* Account block */
body.logged-in #block-atrium_intranet-account h2.block-title {
  position:relative;
  padding-left:40px;
  }

#block-atrium_intranet-account h2.block-title div.picture {
  position:absolute;
  left:0px;
  }

#block-atrium_intranet-account div.user-info {
  line-height:60px;
  padding:10px 10px 9px;
  margin:0px 0px 1px;
  }

#block-atrium_intranet-account div.user-info a.username,
#block-atrium_intranet-account div.user-info div.picture { float:left; }

#block-atrium_intranet-account div.user-info a.username {
  font-size:24px;
  padding:0px 10px;
  }

/**
 * Branding ===========================================================
 */
#branding {
  background-position:0px -120px;
  background-repeat:repeat-x;
  padding:5px 0px;
  line-height:40px;
  height:40px;
  }

#branding,
#branding a,
#branding input {
  font-size:11px;
  color:#fff;
  }

#branding ul.links {
  line-height:20px;
  padding:10px 0px 10px 20px;
  float:left;
  }

  #branding ul.links a {
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:url(images/black40.png);
    padding:0px 10px;
    }

#branding h1.space-title a {
  font-size:20px;
  font-weight:300;
  float:left;
  }

#branding div.search {
  padding:5px 0px;
  line-height:30px;
  height:30px;

  overflow:hidden;
  float:right;
  position:relative;
  }

  #branding form * { display:inline; }

  #branding form input.form-submit {
    border:0px;
    color:#fff;
    text-shadow:none;
    background-position:0px 100px;
    background-repeat:no-repeat;
    }

  #branding form input.form-text,
  #branding form input.form-text:focus {
    width:150px;
    padding:5px 5px 5px 25px;

    background-color:transparent;
    background-position:0px -372px;
    background-repeat:no-repeat;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

/**
 * Footer ==============================================================
 */
#footer {
  border-top:1px solid #ccc;
  font-weight:normal;
  font-size:11px;
  padding:19px 0px 20px;
  color:#999;
  }

  #footer a { color:#666; }

#footer div.footer-message { float:left; }

#footer ul.links { float:right; }

#footer ul.links a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
  }

  #footer ul.links a:hover { background:#fff; }

/**
 * Navigation =========================================================
 */
#navigation {
  background-position:0px -40px;
  background-repeat:repeat-x;
  padding:20px 0px 0px;
  /* IE7 z-index stacking: #navigation 2, #page-header 1, all others 0. */
  position:relative;
  z-index:2;
  }

#space-tools { float:right; }

#space-tools div.block-widget,
#space-tools div.block-widget a {
  font-size:11px;
  color:#fff;
  }

  #space-tools div.block-widget a { font-weight:bold; }

#space-tools h2.block-title {
  background:url(images/black40.png);
  color:#fff;
  }

  #space-tools h2.toggle-active {
    background:#fff;
    color:#333;
    }

/**
 * Features menu ======================================================
 * Arguably the most complex portion of the theme.
 */
#features-menu {
  height:50px;
  float:left;
  }

#features-menu li {
  background-position:0px 50px;
  background-repeat:no-repeat;
  }

#features-menu li.active {
  border:1px solid #fff;
  border-bottom:0px;
  height:49px;

  background-position:0px -210px;
  background-repeat:repeat-x;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

#features-menu li a {
  color:#fff;
  position:relative;
  line-height:40px;
  width:40px;
  height:40px;
  padding:5px 10px;

  background-position:0px -110px;
  background-repeat:no-repeat;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

  #features-menu li a:hover {
    background-position:0px -160px;
    background-repeat:no-repeat;
    }

  #features-menu li.active a,
  #features-menu li.active a.active {
    padding:4px 9px 5px;
    width:auto;
    }

  #features-menu li a span.label {
    width:100px;
    text-align:center;
    position:absolute;
    top:-20px;
    left:-20px;
    line-height:20px;

    font-size:11px;
    font-weight:bold;

    display:none;
    }

    #features-menu li a:hover span.label { display:block; }

  #features-menu li.active a span.label,
  #features-menu li.active a:hover span.label {
    display:block;
    width:auto;
    padding:0px 5px 0px 10px;
    line-height:40px;
    position:static;
    float:left;

    font-weight:normal;
    font-size:16px;
    color:#333;
    text-shadow:#fff 0px 1px 0px;
    }

    #features-menu li a span.icon {
      background:url(images/sprite_icons.png) 0px 0px no-repeat;
      display:block;
      height:40px;
      width:40px;
      float:left;
      }

  #features-menu li a.icon-blog span.icon { background-position: 0px -40px; }
  #features-menu li a.icon-documents span.icon { background-position: -40px -40px; }
  #features-menu li a.icon-calendar span.icon { background-position: -80px -40px; }
  #features-menu li a.icon-casetracker span.icon { background-position: -120px -40px; }
  #features-menu li a.icon-dashboard span.icon { background-position: -160px -40px; }
  #features-menu li a.icon-groups span.icon { background-position: -200px -40px; }
  #features-menu li a.icon-home span.icon { background-position: -240px -40px; }
  #features-menu li a.icon-members span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-profile span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-shoutbox span.icon { background-position: -320px -40px; }

/**
 * Feature mini-icons =================================================
 */
span.spaces-feature {
  width:20px;
  height:20px;
  display:block;

  text-indent: -999px;
  overflow:hidden;

  background:url(images/sprite_icons.png) 20px 20px no-repeat;
  }

span.feature-atrium_blog { background-position:0px 100%; }
span.feature-atrium_book { background-position:-20px 100%; }
span.feature-atrium_calendar { background-position:-40px 100%; }
span.feature-atrium_casetracker { background-position:-60px 100%; }
span.feature-atrium_dashboard { background-position:-80px 100%; }
span.feature-atrium_groups { background-position:-100px 100%; }
span.feature-atrium_home { background-position:-120px 100%; }
span.feature-atrium_members { background-position:-140px 100%; }
span.feature-atrium_shoutbox { background-position:-160px 100%; }

#block-atrium_intranet-spacelinks span.icon { background:url(images/sprite_icons.png) -20px -400px no-repeat; }
#block-atrium_intranet-spacelinks h2.toggle-active span.icon { background-position:-20px -420px; }
#block-atrium_intranet-create span.icon { background:url(images/sprite_icons.png) 0px -400px no-repeat; }
#block-atrium_intranet-create h2.toggle-active span.icon { background-position:0px -420px; }

/**
 * Error pages ========================================================
 */
body.page-access-denied #page-header div.limiter,
body.page-not-found #page-header div.limiter { display:none; }

body.page-access-denied div.access-denied,
body.page-not-found div.not-found {
  font-size:32px;
  font-weight:300;

  padding:140px 480px 140px 50px;
  letter-spacing:-1px;
  line-height:40px;
  min-height:80px;

  background:url(images/404.png) 100% 50% no-repeat;
  }

body.page-access-denied div.access-denied { background-image:url(images/403.png); }
