/**
 * Ginkgo theme stylesheet.
 */

body {
  background:#eee;
  font-family:Helvetica,Arial,sans-serif;
  }

.atrium-skin { background-image:url(images/sprite_skin.png); }

div.limiter {
  max-width:1280px;
  padding:0px 30px;
  }

body.anonymous-login #page-header div.limiter,
body.anonymous-login #page div.limiter { width:560px; }

/**
 * Global navbar  =====================================================
 */
#global {
  background-position:0px -250px;
  background-repeat:repeat-x;
  position:relative;
  line-height:40px;
  height:40px;
  font-size:11px;
  }

#global a:hover { color:#fff; }

#global h1.site-name {
  width:120px;
  height:40px;
  margin-left:-60px;

  background-position:0px -430px;
  background-repeat:no-repeat;

  position:absolute;
  left:50%;
  top:0px;
  }

  #global h1.site-name a {
    text-indent:-999px;
    overflow:hidden;
    display:block;
    }

#global div.breadcrumb { float:left; }
#global div.breadcrumb a { font-weight:bold; }
#global div.breadcrumb span.divider { padding:0px 10px; }

/**
 * Header blocks ======================================================
 */
body.header-fixed #global { z-index:1000; }

#header,
#header div.toggle-blocks { float:right; }

  #header div.toggle-blocks {
    border-right-width:1px;
    border-right-style:solid;
    }

  body.header-fixed #header {
    background:url(images/gray40.png);
    float:none;
    padding:0px 30px;

    position:fixed;
    z-index:1500;
    top:0px; left:0px; right:0px; bottom:0px;
    }

#header div.block-widget,
#header h2.block-title {
  border-left-width:1px;
  border-left-style:solid;
  padding:0px 15px;
  color:#fff;
  }

  #header div.block-widget a { font-weight:bold; }

  /**
   * These selectors are extremely aggressive to beat out styles in
   * spaces-design.tpl.php which also have a body class.
   */
  body.header-fixed #global #header div.block-widget,
  body.header-fixed #global #header div.toggle-blocks,
  body.header-fixed #global #header h2.block-title { border-color:#444; }

  body.header-fixed #global #header div.block-widget a,
  body.header-fixed #global #header h2.block-title,
  #global #header h2.block-title:hover { color:#fff; }

  body.header-fixed #global #header h2.toggle-active,
  body.header-fixed #global #header h2.toggle-active:hover {
    background:url(images/bleeds.png) 0% 100% repeat-x;
    color:#000;
    }

#header div.block-toggle div.block-content {
  line-height:20px;
  font-size:16px;
  font-weight:300;

  clear:both;
  border-top:1px solid #444;
  padding:39px 30px 40px;
  color:#ccc;

  position:fixed;
  z-index:1500;
  top:40px; left:0px; right:0px; bottom:0px;
  }

#header div.block-toggle div.block-content a {
  color:#fff;
  font-weight:bold;
  }

#header div.block-toggle div.block-content * { border-color:#444; }

#header div.block-toggle div.more-link,
#header div.block-toggle ul.links li,
#header div.block-toggle div.item-list li {
  float:left;
  width:49.9999%; /* IE didn't like 50%, and FF seems to round up anyhow. */
  white-space:nowrap;

  padding:0px;
  margin:0px;
  border:0px;
  }

#header div.block-toggle div.more-link a,
#header div.block-toggle ul.links li a,
#header div.block-toggle div.item-list li a {
  float:none;
  margin:0px 0px 1px;
  background:url(images/gray20.png);
  display:block;
  padding:15px 15px 14px;
  }

  #header div.block-toggle div.more-link a:hover,
  #header div.block-toggle div.block-content li a:hover { background:#222; }

  #header div.block-toggle div.more-link a { font-size:inherit; }

/**
 * Help text
 */
#header div.help {
  background:url(images/gray20.png);
  padding:15px;
  line-height:30px;
  }
#header div.help h1,
#header div.help h2,
#header div.help h3 {
  color:#ccc;
  padding:0px;
  border:0px;
  margin:0px 0px 15px;
  }

#header div.help a:hover { background:transparent; }

#header div.help p { margin:0px 0px 15px; }

/* Account block */
body.logged-in #block-atrium_intranet-account h2.block-title { padding-left:5px; }

#block-atrium_intranet-account h2.block-title div.picture {
  float:left;
  margin:5px 5px 0px 0px;
  }

#block-atrium_intranet-account div.user-info {
  background:url(images/gray20.png);
  line-height:60px;
  padding:10px 10px 9px;
  margin:0px 0px 1px;
  }

#block-atrium_intranet-account div.user-info a.username,
#block-atrium_intranet-account div.user-info div.picture { float:left; }

#block-atrium_intranet-account div.user-info a.username {
  font-size:24px;
  padding:0px 10px;
  }

/**
 * Branding ===========================================================
 */
#branding {
  background-position:0px -120px;
  background-repeat:repeat-x;
  padding:5px 0px;
  line-height:40px;
  height:40px;
  }

#branding,
#branding a,
#branding input {
  font-size:11px;
  color:#fff;
  }

#branding ul.links {
  line-height:20px;
  padding:10px 0px 10px 20px;
  float:left;
  }

  #branding ul.links a {
    font-weight:bold;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    background:url(images/black40.png);
    padding:0px 10px;
    }

#branding h1.space-title a {
  font-size:20px;
  font-weight:300;
  float:left;
  }

#branding a.spaces-logo {
  text-indent:-999px;
  overflow:hidden;

  float:left;
  height:40px;
  width:300px;
  background-repeat:no-repeat;
  background-position:0% 50%;
  }

#branding div.search {
  padding:5px 0px;
  line-height:30px;
  height:30px;

  overflow:hidden;
  float:right;
  position:relative;
  }

  #branding form * { display:inline; }

  #branding form input.form-submit {
    border:0px;
    color:#fff;
    text-shadow:none;
    background-position:0px 100px;
    background-repeat:no-repeat;
    }

  #branding form input.form-text,
  #branding form input.form-text:focus {
    width:150px;
    padding:5px 5px 5px 25px;

    background-color:transparent;
    background-position:0px -372px;
    background-repeat:no-repeat;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    }

/**
 * Footer ==============================================================
 */
#footer {
  border-top:1px solid #ddd;
  font-weight:normal;
  font-size:11px;
  padding:19px 0px 20px;
  color:#999;
  }

  #footer a { color:#666; }

#footer div.footer-message { float:left; }

#footer ul.links { float:right; }

#footer ul.links a {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  padding:0px 10px;
  }

  #footer ul.links a:hover { background:#fff; }

/**
 * Navigation =========================================================
 */
#navigation {
  background-position:0px -170px;
  background-repeat:repeat-x;
  padding:20px 0px 0px;
  /* IE7 z-index stacking: #navigation 2, #page-header 1, all others 0. */
  position:relative;
  z-index:2;
  }

#space-tools {
  float:right;
  padding:5px 0px;
  }

#space-tools div.block-widget,
#space-tools div.block-widget a {
  font-size:11px;
  color:#fff;
  }

  #space-tools div.block-widget a { font-weight:bold; }

#space-tools h2.block-title {
  background:url(images/black40.png);
  color:#fff;
  }

  #space-tools h2.toggle-active {
    background:#fff;
    color:#333;
    }

/**
 * Features menu ======================================================
 * Arguably the most complex portion of the theme.
 */
#features-menu {
  height:60px;
  float:left;
  }

#features-menu li {
  background-position:0px 60px;
  background-repeat:no-repeat;
  }

#features-menu li.active {
  border:1px solid #fff;
  border-bottom:0px;
  height:59px;

  background-position:0px 0px;
  background-repeat:repeat-x;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

#features-menu li a {
  color:#fff;
  position:relative;
  line-height:40px;
  width:40px;
  height:40px;
  padding:10px;

  background-position:0px 60px;
  background-repeat:no-repeat;

  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  }

  #features-menu li a:hover {
    background-position:0px -60px;
    background-repeat:no-repeat;
    }

  #features-menu li.active a,
  #features-menu li.active a.active {
    padding:9px 9px 10px;
    width:auto;
    }

  #features-menu li a span.label {
    width:100px;
    text-align:center;
    position:absolute;
    top:-20px;
    left:-20px;
    line-height:20px;

    font-size:11px;
    font-weight:bold;

    display:none;
    }

    #features-menu li a:hover span.label { display:block; }

  #features-menu li.active a span.label,
  #features-menu li.active a:hover span.label {
    display:block;
    width:auto;
    padding:0px 5px 0px 10px;
    line-height:40px;
    position:static;
    float:left;

    font-size:13px;
    color:#333;
    }

    #features-menu li a span.icon {
      background:url(images/sprite_icons.png) 0px 0px no-repeat;
      display:block;
      height:40px;
      width:40px;
      float:left;
      }

  #features-menu li a.icon-blog span.icon { background-position: 0px -40px; }
  #features-menu li a.icon-documents span.icon { background-position: -40px -40px; }
  #features-menu li a.icon-calendar span.icon { background-position: -80px -40px; }
  #features-menu li a.icon-casetracker span.icon { background-position: -120px -40px; }
  #features-menu li a.icon-dashboard span.icon { background-position: -160px -40px; }
  #features-menu li a.icon-groups span.icon { background-position: -200px -40px; }
  #features-menu li a.icon-home span.icon { background-position: -240px -40px; }
  #features-menu li a.icon-members span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-profile span.icon { background-position: -280px -40px; }
  #features-menu li a.icon-shoutbox span.icon { background-position: -320px -40px; }

/**
 * Feature mini-icons =================================================
 */
span.spaces-feature {
  width:20px;
  height:20px;
  display:block;

  text-indent: -999px;
  overflow:hidden;

  background:url(images/sprite_icons.png) 20px 20px no-repeat;
  }

span.feature-atrium_blog { background-position:0px 100%; }
span.feature-atrium_book { background-position:-20px 100%; }
span.feature-atrium_calendar { background-position:-40px 100%; }
span.feature-atrium_casetracker { background-position:-60px 100%; }
span.feature-atrium_dashboard { background-position:-80px 100%; }
span.feature-atrium_groups { background-position:-100px 100%; }
span.feature-atrium_home { background-position:-120px 100%; }
span.feature-atrium_members { background-position:-140px 100%; }
span.feature-atrium_shoutbox { background-position:-160px 100%; }

#block-atrium_intranet-spacelinks span.icon { background:url(images/sprite_icons.png) -20px -400px no-repeat; }
#block-atrium_intranet-spacelinks h2.toggle-active span.icon { background-position:-20px -420px; }
#block-atrium_intranet-create span.icon { background:url(images/sprite_icons.png) 0px -400px no-repeat; }
#block-atrium_intranet-create h2.toggle-active span.icon { background-position:0px -420px; }

/**
 * Error pages ========================================================
 */
body.page-access-denied #page-header div.limiter,
body.page-not-found #page-header div.limiter { display:none; }

body.page-access-denied div.access-denied,
body.page-not-found div.not-found {
  font-size:32px;
  font-weight:300;

  padding:140px 480px 140px 50px;
  letter-spacing:-1px;
  line-height:40px;
  min-height:80px;

  background:url(images/404.png) 100% 50% no-repeat;
  }

body.page-access-denied div.access-denied { background-image:url(images/403.png); }
